In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

netflix = pd.read_csv('/content/drive/MyDrive/Arquivos/netflix.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [48]:
#TABELAS DE FREQUÊNCIA
#Gerar lista de Paísesflix
listapaises = list(netflix['production_countries'])
listapaisesunicos = list(set(netflix['production_countries']))
#Comando "set" cria um conjunto de elementos únicos

In [19]:
#Fazer contagem em todos os Países
tabfrequencia = netflix['production_countries'].value_counts()

['US']    1950
['IN']     605
['JP']     266
['GB']     219
['KR']     210
['ES']     159
['FR']     124
['CA']     103
Name: production_countries, dtype: int64

In [24]:
#Transformar em DataFrame e nomear coluna
tabfrequencia = pd.DataFrame(tabfrequencia)
tabfrequencia.columns = ['Frequência']
tabfrequencia

        Frequência
['US']        1950
['IN']         605
['JP']         266
['GB']         219
['KR']         210
['ES']         159
['FR']         124
['CA']         103

In [47]:
#Gerar Percentuais
tabfrequencia['%'] = netflix['production_countries'].value_counts(normalize=True)*100
tabfrequencia = tabfrequencia.round(2)
tabfrequencia
#"normalize=True" já adiciona o numero em percentual

        Frequência      %
['US']        1950  53.63
['IN']         605  16.64
['JP']         266   7.32
['GB']         219   6.02
['KR']         210   5.78
['ES']         159   4.37
['FR']         124   3.41
['CA']         103   2.83

In [50]:
#TABULAÇÃO CRUZADA
pd.crosstab(netflix.production_countries,netflix.type)

type                  MOVIE  SHOW
production_countries
['CA']                   57    46
['ES']                   94    65
['FR']                   71    53
['GB']                   91   128
['IN']                  562    43
['JP']                  100   166
['KR']                   45   165
['US']                 1206   744

In [52]:
#Gerar Total
pd.crosstab(netflix.production_countries,netflix.type, margins = True)
#"margins = True" adiciona a coluna e a linha "Total"

type                  MOVIE  SHOW   All
production_countries
['CA']                   57    46   103
['ES']                   94    65   159
['FR']                   71    53   124
['GB']                   91   128   219
['IN']                  562    43   605
['JP']                  100   166   266
['KR']                   45   165   210
['US']                 1206   744  1950
All                    2226  1410  3636

In [59]:
#Proporções
pd.crosstab(netflix.production_countries,netflix.type, margins = True, normalize = True)*100

type                      MOVIE       SHOW         All
production_countries
['CA']                 1.567657   1.265127    2.832783
['ES']                 2.585259   1.787679    4.372937
['FR']                 1.952695   1.457646    3.410341
['GB']                 2.502750   3.520352    6.023102
['IN']                15.456546   1.182618   16.639164
['JP']                 2.750275   4.565457    7.315732
['KR']                 1.237624   4.537954    5.775578
['US']                33.168317  20.462046   53.630363
All                   61.221122  38.778878  100.000000

In [62]:
pd.crosstab(netflix.production_countries,netflix.type, margins = True, normalize = 'columns')*100
#"normalize = 'columns'" gera o percentual em relação a coluna

type                      MOVIE       SHOW        All
production_countries
['CA']                 2.560647   3.262411   2.832783
['ES']                 4.222821   4.609929   4.372937
['FR']                 3.189578   3.758865   3.410341
['GB']                 4.088050   9.078014   6.023102
['IN']                25.247080   3.049645  16.639164
['JP']                 4.492363  11.773050   7.315732
['KR']                 2.021563  11.702128   5.775578
['US']                54.177898  52.765957  53.630363

In [63]:
#inserir um terceira Variável

In [70]:
tabfreq = pd.crosstab(netflix.production_countries,[netflix.type,netflix.imdb_score.round(0)], margins = True, normalize = 'index')*100
tabfreq.round(2)

type                 MOVIE                                                \
imdb_score             2.0   3.0   4.0    5.0    6.0    7.0    8.0   9.0
production_countries
['CA']                0.00  0.00  2.20  14.29  20.88  12.09   3.30  1.10
['ES']                0.00  0.00  1.99   9.27  27.81  15.23   4.64  0.00
['FR']                0.00  0.85  2.56  13.68  25.64  11.11   2.56  0.00
['GB']                0.00  0.49  0.49   2.96  15.76  14.78   6.40  0.49
['IN']                0.88  2.28  5.95  12.78  24.52  25.74  20.14  1.05
['JP']                0.00  0.00  0.00   0.82  11.48  18.03   6.15  0.00
['KR']                0.00  0.00  1.09   1.64   9.84   8.74   1.09  0.00
['US']                0.22  0.67  3.05   7.76  22.73  19.12   7.10  0.28
All                   0.27  0.80  2.97   7.94  21.37  18.70   8.50  0.39

type                  SHOW
imdb_score             2.0   3.0   4.0   5.0    6.0    7.0    8.0   9.0  10.0
production_countries
['CA']                0.00  1.10  2.20  1.10   7.69  16.48  15.38  2.20  0.00
['ES']                0.00  0.00  1.32  1.99  12.58  17.88   7.28  0.00  0.00
['FR']                0.85  0.00  0.00  0.85  11.97  17.95  11.97  0.00  0.00
['GB']                0.00  0.00  1.48  1.97   7.88  22.17  19.21  5.91  0.00
['IN']                0.00  0.00  0.70  1.05   0.70   1.93   1.40  0.88  0.00
['JP']                0.41  0.00  0.41  1.64  11.07  20.49  25.82  3.69  0.00
['KR']                0.55  0.00  0.55  1.09   6.01  22.95  40.44  6.01  0.00
['US']                0.06  0.17  0.72  2.61   8.37  13.19  12.47  1.44  0.06
All                   0.12  0.12  0.77  2.02   7.40  13.35  13.32  1.93  0.03